<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css" />
        <title>Results </title>
    </head>
    <body>
        <h1>Activity Generator Results</h1>
        <h3></h3>
        <p><%= @result%></p>
    </body>
</html>